body{
    

    margin-top:108.75px;
    padding-top: 20px;
}

.milieu{
    min-height: calc(100vh - 540px);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar {
    font-size:1rem  !important;
}


#hidden_newsletter{
    display:none;
}

/* Opacité hover image categorie */
figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover img {
	opacity: .5;
}


