body{ 
    margin-top:108.75px;
    padding-top: 20px;
}

.milieu{
    min-height: calc(100vh - 540px);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar {
    font-size:1rem  !important;
}


#hidden_newsletter{
    display:none;
}

/* Opacité hover image categorie */
figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover img {
	opacity: .5;
}




/*----------*/
.cr{
    position: relative;
}

.loupe{
    position: absolute;
    right: 5px;
    top:2px;
    border-style: none;
    z-index:9999;
}

.social-network {

    padding: 0;
}

.social-network a {
    background-image: url(../css/social.svg);
    height: 32px;
    width: 32px;
    display: block;
    margin: 10px;
}

#fb{
    background-position: -32px 0 !important;
}

#yt{
    background-position: -160px -96px !important;
}

#tw{
    background-position: -128px -64px;
}

#pt{
    background-position: 0px -96px;
}

#insta{
    background-position: -64px 0;
}

#googleplus {
    background-position: 0 -32px; 
}

#linkedin{
    background-position: -96px -32px;
}

/************* message error dans form********/

.form-error-icon{
    display: none !important;
}


/*********************** Carousel ************/

.h5 {
    background-color:rgba(0, 0, 0, .5);
    /* padding : 10px 0 !important; */

}


/*********lien ******************/

a{
    text-decoration :none !important;
}


