body{
    

    margin-top:108.75px;
    padding-top: 20px;
}

.milieu{
    min-height: calc(100vh - 540px);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar {
    font-size:1rem  !important;
}




