{% extends 'base.html.twig' %}

{% block content %}

<h2 class=" display-4 text-center"> A propos de nous</h2><hr>

C'est cet amour partagé de regarder la télévision qui nous pousse à ne manquez jamais un épisode. Réagir aux moments de larmes, de rire, d'intrigue ou de WTF en général. Assis avec les autres, se tournant vers eux et disant exactement au même moment: "Attends, quoi? Chandler et Monica?"

Puis le monde a changé. Les habitudes d'observation des gens sont devenues fragmentées, différentes. L'univers de la télévision est devenu plus grand ... et s'est pourtant senti plus petit en même temps. Les téléphones mobiles, tablettes et autres appareils nous ont permis de regarder de partout. Des séries entières ont été publiées en un jour. 10 canaux sont devenus 1000. La télévision ne cessait de s'améliorer et de s'améliorer. Et plus que jamais, nous voulions rester au top de nos émissions préférées. Nous nous sommes enragés quand quelqu'un a même fait allusion à un spoiler. Et trouver nos tribus, comme nous, pour partager des moments et réagir au moment où nous le sentions est devenu si vital, si enrichissant, si au cœur de notre routine quotidienne.

Nous avons donc créé notre propre communauté de suivi de la télévision virtuelle regroupant des millions de personnes, afin de ne jamais perdre, mais simplement de grandir, de cet attouchement émotionnel que nous partagions et aimions lorsque nous avons entendu ces mots pour la première fois: "C'est l'heure de la télévision ...".


{% endblock %}