{% extends 'base.html.twig' %}

{% block content %}

<h2 class="display-4 text-center"> Conditions générales d'utilisation</h2><hr>

<h3>1. LA SOCIÉTÉ</h3>
La société My SERIES, société par actions simplifiées, propose un site internet (ci-après « le Site officiel »). L’ensemble est entièrement gratuit et propose aux Membres la gestion de leur planning, le partage des derniers épisodes vus, en passant par la découverte de nouvelles séries, tout cela entouré de la communauté BetaSeries.
<br>
<br>
<h3>2. ACCEPTATION DES CONDITIONS D’UTILISATION</h3>
L’accès au Site et aux Applications est réservé à toute personne l’ayant téléchargée ou visité (ci-après le « Visiteur »). Un Visiteur ne pourra cependant faire aucune action sur le Site ou sur les Applications à part visiter les pages ou écrans qui lui sont autorisés. Sur les pages ou écrans non autorisés, il sera invité à se créer un compte (il sera alors un « Membre ») pour aller plus loin.

L'acceptation intégrale des présentes Conditions d’Utilisation par le Visiteur est nécessaire lors de son inscription sur le Site ou les Applications. Cette acceptation est matérialisée par l’action du Visiteur de cocher la case “J'ai lu et accepte les conditions générales d'utilisation de MySERIES”, celle-ci tenant lieu de signature électronique, et ayant, de convention expresse, valeur de signature manuscrite entre le Site/les Applications et le Visiteur.

Sans cette acceptation par le Visiteur, l'inscription ne pourra pas être validée.
<br>
<br>
<h3>3. RESPONSABILITÉS ET GARANTIES DU MEMBRE</h3>
Un Membre est responsable des informations qu’il met sur les Supports. Il s’engage à renseigner de façon complète et honnête les informations que le Support lui demande.

Un Membre s’engage à garder son Identifiant et son Mot de passe secrets et confidentiels.

Un Membre reconnaît qu’il est seul responsable de l’utilisation qu’il fera du Support BetaSeries.

Un Membre s’engage également à ne permettre à aucune personne à accéder au Support via son Compte.

Un Membre reconnaît que l'Application n’est responsable d’aucune façon des difficultés rencontrées pour accéder et utiliser l'Application en raison des réseaux de communication électronique et notamment des services d’accès à Internet.

Un Membre n’est pas autorisé à utiliser les Supports a des fin professionnelles, commerciales ou lucratives.

Un Membre n’est pas autorisé à avoir des propos qui seraient illicites ou contraires aux bonnes mœurs (notamment obscènes, indécents, diffamants, pornographiques, injurieux, menaçants, ou de harcèlement de quelque type).

Un Membre ne peut pas faire la promotion de tout produit ou service, société ou URL, quels qu’ils soient, à l’exception de l’adresse des Supports BetaSeries.

Un Membre ne peut pas faire des déclarations qui pourraient être raisonnablement considérées comme diffamatoires ou attentatoires à l’image des Supports.

Un Membre reconnaît qu’en contrevenant aux présentes Conditions d’utilisation, il pourra être l’objet d’une sanction telle que définie dans l’article 7.

En cas de fermeture du Compte sur décision de la Société, le Membre ne pourra plus s’inscrire ni avoir accès à aucun des Supports sans l’accord écrit de la Société.

Un membre reconnaît que toute tentative visant à entrer dans le système de l'Application de manière non autorisée ou sur un Compte, interférant avec les procédures ou performances de l’un des Supports, ou endommageant délibérément un Support est sujet à des poursuites au tribunal civil et/ou pénal et à la fermeture immédiate de son Compte.
<br>
<br>
<br>



{% endblock %}