{% extends 'base.html.twig' %}

{% block content %}

<h2 class=" display-4 text-center"> Conatcter le support</h2><hr>

Vous souhaitez contacter l'équipe de MySERIES, envoyez-nous un email : <a href="mailto:support@myseries.com">support@myseries.com</a>.


{% endblock %}