{% extends 'base.html.twig' %}

{% block content %}

<h2 class=" display-4 text-center"> Données personnelles</h2><hr>

MySERIES garde sur ses serveurs des données concernant votre compte que vous renseignez ou que nous collectons à travers l'utilisation du site Web et de nos applications. Voici le détail de ce que nous collectons :
<br><hr>
<h4>OBJET DES SERVICES FOURNIS, TYPE ET BUT DU TRAITEMENT DES DONNÉES</h4>
Le traitement des données suivantes est nécessaire pour établir et mettre en œuvre la relation contractuelle relative à l’utilisation de MySERIES et aux services et fonctions qui y sont associés en accord avec les Conditions d'utilisation.
MySERIES fournit diverses fonctionnalités (ex: suivi des séries, calendrier, synchronisation, suggestions, etc.). Le traitement des données personnelles au sein de ces fonctionnalités est décrit séparément et s’applique également aux informations générales en cas d’utilisation de ces fonctionnalités par l’utilisateur.

Les informations accessibles via MySERIES peuvent être mises à disposition (dans le cadre spécifié par les Conditions d'utilisation) via une interface de programmation d'application (API).
<br><hr>
<h4>TYPES DE DONNÉES FAISANT RÉGULIÈREMENT L'OBJET D'UN TRAITEMENT</h4>
Données de base (prénom, nom, sexe, code du pays, code d'activité, adresse postale).
Données de contact (adresse e-mail).
Données concernant les comptes en ligne liés à l'utilisation de la synchronisation de services externes: identifiant de profil, clé d'autorisation (jeton d'accès ou cookie), liste de profils pour lesquels MySERIES dispose de droits d'accès spéciaux (Facebook, Twitter, Instagram, LinkedIn, etc. .), date de création, heures de connexion, langue, épisodes ou films visionnés par le profil lié.
Données concernant l'utilisation de l'outil (heure et fonctions utilisées).
Métadonnées/données de communication (identifiants d'appareil, adresses IP, données de localisation).
Afin d'effectuer des analyses des profils, MySERIES peut avoir besoin de se connecter aux profils et d'accéder à l'application du service externe (par exemple Twitter ou LinkedIn). Dans ces cas, le nom de compte, l'identifiant du compte, le token d'accès, le token secret et leur date d'expiration sont stockés.
Nous utilisons les cookies ou autre technologies similaires pour collecter et stocker les données des utilisateurs qui naviguent sur notre site ou qui utilisent nos services. Nous recueillons pour cela leur consentement conformément aux politiques et aux spécifications techniques du Cadre de Transparence et de Consentement de l'IAB Europe. Vous pouvez modifier vos choix à tout moment en cliquant ici.
<br><hr>
<h4>EST-CE QUE DES CATÉGORIES SPÉCIALES DE DONNÉES SONT EN COURS DE TRAITEMENT ?</h4>
Aucune catégorie particulière de données n'est traitée.
<br><hr>
<h4>LES CATÉGORIES DE PERSONNES CONCERNÉES PAR LE TRAITEMENT</h4>
Les utilisateurs de l'outil.
<br><hr>
<h4>DURÉE DE CONSERVATION DES DONNÉES</h4>
Les données mentionnées sont conservées de manière illimitée dans le temps. L'utilisateur peut supprimer son compte à tout moment, dans ce cas ses données seront également immédiatement supprimées de nos serveurs.
<br><hr>
<h4>SÉCURITÉ</h4>
Toutes les données sont stockées sur des serveurs sécurisés, hébergés dans des centres de données surveillés 24 heures sur 24. Les données sensibles font toutes l'objet d'un cryptage au sein de nos bases de données et toutes les utilisations sont enregistrées.
<br><br>

{% endblock %}