{% extends 'base.html.twig' %}

{% block content %}

<h2 class=" display-4 text-center"> Mentions légales</h2><hr>

<h4>Informations légales</h4><hr>
En vigueur au 30/08/2018
 
Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.

Editeur du site

Dashboard series 

Conditions d'utilisation
Le site accessible par les url suivants : www.myseries.com est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société MySERIES.
MySERIES net ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.
Responsable éditorial

Site Internet Qualité


Limitation de responsabilité
Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).

Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Natural net ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.   

Les photos sont non contractuelles.

Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de MySERIES net.

Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économienumérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site myseries les présentes mentions légales.La connexion et la navigation sur le site (MySERIES) par l’Utilisateur implique acceptation intégrale et sans réservedes présentes mentions légales.Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».
<br><hr>
<h4>ARTICLE 1 : L’ÉDITEUR</h4>
L'édition du site myseries est assurée par la Société SAS myseries au capital de 10000 euros, immatriculée au RCS de DASHBOARD sous le numéro 999999999 dont le siège social est situé au LOUL, numéro de téléphone 0360325610, adresse e-mail: myseries@myseries.com.N° de TVA intracommunautaire : FR999999999.
Le Directeur de la publication est myseries 
<br><hr>
<h4>ARTICLE 2 : L’HÉBERGEUR</h4>

 L'hébergeur du site myseries est la Société localhost, dont le siège social est situé au localhost , avec le numéro de téléphone :0102030405.
<br><hr>
 <h4>ARTICLE 3 : ACCÈS AU SITE</h4>

 Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvantdécoulant d’une nécessité de maintenance.En cas de modification, interruption ou suspension des services le site myseries ne saurait être tenu responsable.
<br><hr>
<h4> ARTICLE 4 : COLLECTE DES DONNÉES</h4>

Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecteaucune donnée concernant les utilisateurs.
<br><hr>
<h4>ARTICLE 5 : COOKIES</h4>

L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel denavigation.En naviguant sur le site, il les accepte.Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à lanavigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant ausein de son logiciel de navigation.
<br><hr>
<h4>ARTICLE 6 : PROPRIÉTÉ INTELLECTUELLE</h4>

Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site myseries, sans autorisation del’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de lapropriété intellectuelle et le Code civil.Réalisé sur https://www.legalplace.frPour plus d’informations, se reporter aux CGU du site myseries accessible à la rubrique« CGU » 2 /2

<br><br>


{% endblock %}