{% extends 'base.html.twig' %}

{% block content %}

<h2 class=" display-4 text-center"> Soutenez MySERIES </h2><hr>

<h4>Participer au site !</h4><hr>

Il est toujours utile de le rappeler, la manière la plus utile de nous aider est tout simplement de participer à la communauté de BetaSeries.

Que ce soit en commentant et notant les épisodes que vous venez de voir, en suggérant de nouvelles séries, des améliorations sur le site, en rapportant les bugs que vous rencontrez… Chaque fois vous améliorez un petit peu plus ce site et nous vous en sommes très reconnaissants.


{% endblock %}