{% extends 'base.html.twig' %}

{% block content %}


    <h1>Page de redirection vers fonctionnalité API</h1><hr><br><br>


   <hr> <h5>1 - Authentification auprès de l'API</h5><hr>


    <div class="text-center">
        <button class="btn btn-primary col-3 mt-2 mb-2">
            <a class="text-white" href="{{ path('authorize') }}">Obtention du Token</a>
        </button><br>
    </div>
    <hr><h5>2 - Récupération des données via l'API (limité à 2000 séries pour le moment)</h5><hr>
<div class="d-flex justify-content-around">
    
        <button class="btn btn-primary col-3 mt-2 mb-2">
            <a class="text-white" href="{{ path('addseries') }}">Obtention et Insertion des séries</a>
        </button><br>
  

   
        <button class="btn btn-primary col-3 mt-2 mb-2 offset-1">
            <a class="text-white" href="{{ path('addsaisons') }}">Obtention et Insertion des saisons</a>
        </button><br>
    
    
        <button class="btn btn-primary col-3 mt-2 mb-2 offset-1" disabled="disabled">
            <a class="text-white"  href="{# {{ path('addepisodes') }} #}">Obtention et Insertion des episodes</a>
        </button>
 
</div>
    <br>
    <hr><h5>3 - Update des données de la BDD avec l'API
    </h5><hr>
    <br>

   <div class="text-center">
        <button class="btn btn-primary col-3 mt-2 mb-2" disabled="disabled">
            <a class="text-white" class="disabled" href="app/maj.php">Mise à jour des données {HORS SERVICE}</a>
        </button>
    </div>
    <br>


{% endblock %}
